<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定-->
<mapper namespace="cn.edu.jit.wdnv.java.dao.ClassMapper">

    <select id="queryAllClass" resultType="cn.edu.jit.wdnv.java.model.Class">
        select * from class order by clno;
    </select>

    <insert id="insertClass" parameterType="cn.edu.jit.wdnv.java.model.Class">
        insert into class values(#{Clno},#{Clname},#{Dno});
    </insert>

    <delete id="deleteClass" parameterType="cn.edu.jit.wdnv.java.model.Class">
        delete from class where clno = #{Clno};
    </delete>

    <update id="alterClass" parameterType="cn.edu.jit.wdnv.java.model.Class">
        update class set clno = #{Clno},clname = #{Clname},dno = #{Dno} where clno = #{Clno};
    </update>


</mapper>