<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定-->
<mapper namespace="cn.edu.jit.wdnv.java.dao.UserMapper">
    <select id="isUserExist">
        select * from user where username = #{username}
    </select>
    <select id="login">
        select * from user where username = #{username} and password = #{password};
    </select>
    <select id ="getLogin">
        select level from user where username = #{username};
    </select>
    <select id = "queryAllUsers">
        select * from user order by username;
    </select>
</mapper>